 @import url('./skin.css');

 * {
	transition: color 0.3s;
 }
 html,body{
	height: 100%;
	width: 100%;
	height: auto;
	min-height: 100vh;
 }
body {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	margin: auto;
	padding: 20px;
	width: 100%;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	background-image: linear-gradient(var(--color-linear-bg-start) 0%, var(--color-linear-bg-end) 100%);
}
