html {
  --color-neutral-1: #171717;
  --color-neutral-2: #404040;
  --color-neutral-3: #737373;
  --color-neutral-4: #a3a3a3;
  --color-neutral-5: #e5e5e5;
  --color-neutral-6: #fafafa;

  --color-normal-bg: rgb(230, 236, 242);
  --color-normal-bg-reverse: rgb(6, 12, 18);

  --color-linear-bg-start:rgb(255,255,255);
  --color-linear-bg-end:rgb(230, 236, 242, 0);
  --color-link-href: rgb(90,160,223);
}


.dark {
  --color-neutral-1: #fafafa;
  --color-neutral-2: #e5e5e5;
  --color-neutral-3: #a3a3a3;
  --color-neutral-4: #737373;
  --color-neutral-5: #404040;
  --color-neutral-6: #171717;

  --color-normal-bg: rgb(6, 12, 18);
  --color-normal-bg-reverse: rgb(230, 236, 242);

 --color-linear-bg-start:rgb(6,12,18);
  --color-linear-bg-end:rgb(230, 236, 242, 0.06);
  --color-link-href: rgb(90,160,223);
}

.glob {
  --max-w-65: 65ch;
}

::selection {
  color: var(--color-neutral-6);
  background-color: var(--color-normal-bg-reverse);
}

:root {
  @apply glob;
}