---
import BaseHead from "../components/BaseHead.astro";
import Header from "@/components/Header/Header.astro";
import Footer from "../components/Footer.astro";
import type { BlogType } from "@/types";
import BlogCard from "@/components/BlogCard";

const postFiles = import.meta.glob<{ frontmatter: BlogType; url: string }>(
  "./blogs/**/*.{md,mdx}",
  { eager: true }
);

const posts = Object.values(postFiles).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="Blogs" />
  </head>
  <body class="bg-skin-background">
    <Header />
    <main class="max-w-prose mb-6 mt-16 m-auto">
      <h1 class="text-3xl text-skin-neutral-1 font-extrabold mb-16">
        Shanks' Blog
      </h1>
      <section>
        {posts.map((post) => (
          <BlogCard url={post.url} frontmatter={post.frontmatter} />
        ))}
      </section>
    </main>
    <Footer />
  </body>
</html>
