---
import BaseHead from '../components/BaseHead.astro'
import Footer from '@/components/Footer.astro'

import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import Header from '@/components/Header/Header.astro'
import TypeWriter from '@/components/TypeWriter'
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class='bg-skin-background'>
    <Header />
    <main class='px-7 py-10'>
      <div style='min-height: 9rem;' class='max-w-prose mb-6 mt-16 m-auto'>
        <TypeWriter client:only='react' />
      </div>
      <article class='max-w-prose m-auto'>
        <p>waiting for writing</p>
      </article>
    </main>
    <Footer />
  </body>
</html>
