---
import BaseHead from '../components/BaseHead.astro'
import { RESUME_TITLE, RESUME_DESCRIPTION } from '../config'
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={RESUME_TITLE} description={RESUME_DESCRIPTION} />
  </head>
  <body>
    <main>
      <section>
        <h1>陈金伙</h1>
      </section>
    </main>
  </body>
</html>
