---
import '@icon-park/react/styles/index.css'
import NavLink from './NavLink'
import ToggleTheme from './ToggleTheme'
import { ViewTransitions } from 'astro:transitions'
---

<header class='flex justify-between'>
  <script src='https://lf1-cdn-tos.bytegoofy.com/obj/iconpark/icons_19840_4.d98c25ed66d3f736bb72b1556a17d78a.js'
  ></script>
  <a class='text-skin-neutral-1 hover:text-skin-neutral-3 font-semibold' href='/'>Shanks</a>
  <div class='flex gap-6'>
    <NavLink pathname={Astro.url.pathname} />
    <div class='w-5 h-5'>
      <ToggleTheme client:only='react' />
    </div>
  </div>
  <ViewTransitions />
</header>
