---
import '@icon-park/react/styles/index.css'
import NavLink from './NavLink'
import ToggleTheme from './ToggleTheme'
---

<header class='flex justify-between'>
  <script src='https://lf1-cdn-tos.bytegoofy.com/obj/iconpark/icons_19840_3.539a1aa27822bc292a39fefa8a026354.js'></script>
  <a class='text-skin-neutral-1 hover:text-skin-neutral-3 font-semibold' href='/'>Shanks</a>
  <div class='flex gap-6'>
    <NavLink pathname={Astro.url.pathname} />
    <div class='w-5 h-5'>
      <ToggleTheme client:only='react' />
    </div>
  </div>
</header>
