---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props
const NavList = [
  {
    label: 'blog',
    href: '/blogs',
  },
  {
    label: 'resume',
    href: '/resume',
  },
  {
    label: 'github',
    href: 'https://github.com/cjinhuo',
  },
]
export function onClickChangeTheme() {
  console.log('onClickChangeTheme')
}
---

<div class='flex gap-6'>
  {
    NavList.map(item => {
      console.log('Astro.props', Astro)
      const isActive = Astro.url.pathname === item.href
      return (
        <a href={item.href} class:list={['hover:text-skin-neutral-1', isActive ? 'text-skin-neutral-1' : 'text-skin-neutral-3']} {...props}>
          {item.label}
        </a>
      )
    })
  }
  <!-- react button toggle theme -->
  <!-- <a class:list={['text-skin-neutral-3', 'hover:text-skin-neutral-1']}></a> -->
</div>
<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    font-weight: bolder;
  }
</style>
