<section class='giscus mx-auto mt-10 w-full'></section>

<script
  src='https://giscus.app/client.js'
  data-repo='cjinhuo/cjinhuo.github.io'
  data-repo-id='MDEwOlJlcG9zaXRvcnk2OTk2NDgwNw=='
  data-category='General'
  data-category-id='DIC_kwDOBCuUB84Cx9F9'
  data-mapping='title'
  data-strict='0'
  data-reactions-enabled='1'
  data-emit-metadata='0'
  data-input-position='top'
  data-theme='preferred_color_scheme'
  data-lang='zh-CN'
  data-loading='eager'
  crossorigin='anonymous'
  async>
</script>
