---
import BlogCard from '@/components/BlogCard.astro'
import { getSortedBlogPosts, type BlogEntry } from '@/shared/blog'

const posts = (await getSortedBlogPosts()).slice(0, 3)
---

<section>
  {posts.map((post: BlogEntry) => (
    <BlogCard
      slug={post.id}
      frontmatter={post.data}
      body={post.body}
    />
  ))}
</section>
