---
import type { BlogType } from '@/types'
import BlogCard from '@/components/BlogCard.astro'

const postFiles = import.meta.glob<{ frontmatter: BlogType; url: string }>('../pages/blogs/**/*.{md,mdx}', {
	eager: true,
})

const posts = Object.values(postFiles)
	.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf())
	.slice(0, 3)
---

<section>
  {posts.map((post) => (
    <BlogCard
      url={post.url}
      frontmatter={post.frontmatter}
    />
  ))}
</section>
