---
interface Props {
	tags?: string[]
	className?: string
}

const { tags, className = '' } = Astro.props
---

{tags && tags.length > 0 && (
	<div class={`flex flex-wrap gap-2 ${className}`}>
		{tags.map((tag) => (
			<span class="inline-flex items-center px-2 py-1 text-xs font-bold bg-skin-tag-bg text-skin-tag-text font-mono">
				{tag}
			</span>
		))}
	</div>
)}
